[Unit]
Description=guschat
Requires=network.target
 
[Service]
Type=simple
User=rails
Group=rails
WorkingDirectory=/opt/guschat
ExecStart=/opt/guschat/bin/rails server --environment=development --binding=0.0.0.0 --port=8080
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
